//------------------------------------------------------------
// = CUSTOM VARIABLES
//------------------------------------------------------------
$img: "../images/";
$screenxs: 575px;
$screensm: 767px;
$screenmd: 1023px;
$screenlg: 1359px;

//SETTINGS VARIABLES BOOTSTRAP 4.1.3
$spacer: 1rem; // 16px;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    0_5: ($spacer * .312),  //5
    1: ($spacer * .625),      //10
    2: ($spacer * .9375),     //15
    3: ($spacer * 1.25),      //20
    4: ($spacer * 1.563),     //25
    5: ($spacer * 1.875),     //30
    6: ($spacer * 2.188),     //35
    7: ($spacer * 2.5),       //40
    8: ($spacer *  3.125),    //50
    9: ($spacer * 3.75),       //60
    10: ($spacer * 4.375),     //70
    11: ($spacer * 5),         //80
    12: ($spacer * 5.625),     //90
    13: ($spacer * 6.25),      //100
  ),
  $spacers
);

$primary: #000;

// Grid containers
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1360px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 992px,
  xl: 1328px
);